
body {
	font-family: 'Work Sans', sans-serif;
	max-width: 100%;
}

/*header {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	background-color: #F8E0FF;
}
*/


h1 {
	font-size: 3.125em;
	line-height: 3.125em;
	font-weight: bold;
	color: #472869;
	display: inline-block;
}

h2 {
	font-size: 3.75em;
	font-weight: bold;
	line-height: 3.75em;
	color: #472869;
}

h3 {
	font-size: 1.875em;
	line-height: 2.25em;
	color: #472869;
}

p {
	font-size: 1.25em;
	line-height: 1.625em;
}

img {
	max-width: 100%;
}

li {
	list-style-type: none;
}


.nav {
	display: grid;
}

.nav li a {
	text-decoration: none;
	color:#fff;
}

header h2 {
	text-decoration: none;
}

.good_digital_consent p:nth-child(2) {
	font-weight: bold;
}

.get_in_touch form input {
	background-color: #F8E0FF;
	padding: 10px;
	width: 80%;
	margin: 10px 0;
	border: solid 2px #777;

}

.get_in_touch {
	overflow-x: hidden;
	padding: 1em;
}

.get_in_touch form {
	width: 100vw;
}

.get_in_touch form textarea {
	width: 80%;
	height: 100px;
	padding: 10px;
	background-color: #F8E0FF;
	text-align: left;
	resize: none;
	border: solid 2px #777;
}

.get_in_touch form .submit {
	background-color: #30023C;
	color: #fff;
	width: 30%;
	margin: 20px;
	margin-left: 0;
}

#fnContactCaptcha {
	margin: 15px;
	margin-left: 0;
}

footer {
	background-color: #30023C;
	padding: 25px;

}

.footer_imgs {
	width: 90%;
	margin: 0 auto;
	text-align: left;
	padding: 0px;
}


footer_imgs a {
	display: inline;
}

.AATLogo {
	margin-left: 30px;
}

footer p {
	color: #fff;
	width: 92%;
	margin: 0 auto;
	padding-top: 30px;
}

@media only screen and (max-width: 600px) {
	html {
	    overflow-x: hidden;
	}
	/*.header_wrapper {
		overflow-x: hidden;
		position: absolute;
		top: 30px;
		height: 900px;
		width: 100%;
	}

	header {
	    display: grid;
	    grid-template-columns: repeat(7, 20vw);
	    grid-template-rows: 140px repeat(5, 1fr);
	    background-color: #F8E0FF;
	    position: absolute;
	    margin-left: -20vw;
	}
	*/

	header {
	position: relative;
	background-color: #F8E0FF;
	text-align: center;
	}

	section {
		padding: 1em 2em;
	}

/*	header img {
	    justify-self: stretch;
   		align-self: stretch;
    	z-index: 1;
	}*/

	.header-f {
		grid-row: 2 / 4;
    	grid-column: 1 / 4;
	}

	.header-r {
		grid-row: 1 / 3;
    	grid-column: 3 / 6;
	}

	.header-i {
		grid-row: 2 / 4;
    	grid-column: 5 / 8;
	}

	.header-e {
		grid-row: 3 / 6;
  	 	grid-column: 2 / 5;
   	 	padding-right: 15px;
	}

	.header-s {
    	grid-row: 3 / 6;
   		grid-column: 4 / 7;
	    padding: 20px;
	}

/*	header h2 {
	    text-decoration: none;
	    grid-row: 3;
	    grid-column: 3 / 6;
	    justify-self: center;
	    text-align: center;
	    margin: 0;
	    z-index: 2;
	}*/

	header h2 {
		text-decoration: none;
		position: absolute;
		top: 33%;
		width: 35%;
		left: 32%;
		font-size: 2em;
	}

	nav {
		display: grid;
		grid-template-columns:  max-content 1fr max-content;
		grid-template-rows: 100% ;
		background-color: #30023C;
		color: #fff;
		height: 50px;
		z-index: 10;
		position: relative;
		align-items: center;
	}

	/* add to nav when humburger click */
	.nav_open {
		display: grid;
		grid-template-columns:  1fr 1fr 1fr auto 1fr 1fr 1fr ;
		background-color: #30023C;
		color: #fff;
	}

	.title_underline::after {
		content:"";
		height:8px;
	    display: inline-block;
	    width:100%;
		background-image: url(img/underlines/Underline-White.svg);
		background-repeat: repeat-x;
		background-size: contain;
		display: inline-block;
		padding: 0;
	}

	main {
		position: relative;
		z-index: 2;
	}

	h1 {
		font-size: 1em;
		line-height: 1em;
		margin: 0 0 0 1.75em;
		color: #fff;
		grid-column-start: 1;
		background-color: #30023C;
		display: inline-block;	
	}

	h2{
		font-size: 3.125em;
		line-height: 1.25em;
		text-decoration: underline;	
		font-weight: bold;
	}
	
	p {
		font-size: 1em;
		color: #30023C;
		line-height: 1.45em;
	}

	/*ul.nav */
	.modal_close {
		display: grid;
		padding-left:0;
		padding: 0 0.2em;
		margin:0;
		grid-column-start: 1;
		grid-column-end: 4;
		grid-template-columns: 100%;
		grid-template-rows: 25% 25% 25% 25%;
		display: none;
	}

	/* add to ul.nav when humburger click */
	.modal_open {
		display: grid;	
		padding: 0 1em;
		margin:0px;
		grid-column-start: 1;
		grid-column-end: 7;
		grid-template-columns: 100%;
		grid-template-rows: 20% 20% 20% 20% 20%;
		z-index: 10;
		background-color: #30023C;


	}

	nav li {
		font-size: 1em;
		padding: 1em 0;
	}

	/* humberger menu */

	.humburger {
		margin: 5px 20px;
		padding: 0.1em;
		grid-column: 3;
		grid-row-start: 1;
		grid-row-end: 2;
	}

	.humburger div {
		background-color: #fff;
		margin: 1px 0;
	}

	.humburger_close {
		grid-column-start: 3;
		display: none;
		padding: 0.1em;
		margin: 5px 20px;
	}


	/*------ GOOD DIGITAL CONSENT SECTION -------*/
	
	.good_digital_consent {
		background-color: #F8E0FF;
	}

	.good_digital_consent_slant {
	    width: 100%;
	    padding-bottom: 70.92%; /* must be width / 1.41 */
	    margin-bottom: -70%;
	    position: relative;
	    overflow: hidden;
	}

	.good_digital_consent_slant:before {
	    content: '';
	    background-color: #F8E0FF;
	    height: 100%;
	    width: 125%;
	    position: absolute;
	    top: -73%;
	    left: -25%;
	    transform-origin: 100% 0%;
	    transform: rotate(4deg) skewX(0deg);
	}

	.good_digital_consent_slant_2 {
	    width: 100%;
	    top:-8px;
	    padding-bottom: 70.92%; /* must be width / 1.41 */
	    margin-bottom: -60%;
	    position: relative;
	    overflow: hidden;
	}

	.good_digital_consent_slant_2:before {
	    content: '';
	    position: absolute;
	    width: 125%;
	    height: 100%;
	    top: 44%;
	    left: -24%;
	    background-color: #F8E0FF;
	    transform-origin: 100% 0%;
	    transform: rotate(90deg) skewX(-25deg);
	}

	/*------ FRIES SECTION -------*/

	.fries{
		background-color: #30023C;
	}

	.fries h2 {
		max-width: 380px;
		font-size: 2.5em;
	}

	.fries h3 {
		text-decoration: underline;
		color: #fff;
		font-size: 1.75em;
		margin: 15px 0;
	}

	.fries p, .fries h2 {
		color: #fff;
	}

	.fries ul {
		padding-left:0;
	}


	.fries li img{
		display: block;
		margin: 0 auto;
	}

	.FRIES_comment {
		color: #30023C;
		background-color: #F8E0FF;
		padding-top: 110px;
	}

	.FRIES_comment p {
		padding-top: 0;
	}
	.fries_slant {
	    width: 100%;
	    top:-10px;
	    padding-bottom: 70.92%; /* must be width / 1.41 */
	    position: relative;
	    overflow: hidden;
	    margin-bottom: -70.92%;

	}

	.fries_slant:before {
	    content: '';
	    position: absolute;
	    top: -96%;
	    left: -33%;
	    width: 125%;
	    height: 100%;
	    background-color: #30023C;
	    transform-origin: 100% 0%;
	    transform: rotate(-10deg) skewX(-3deg);
	}

	.comment_slant {
	    width: 100%;
	    padding-bottom: 70.92%; /* must be width / 1.41 */
	    margin-bottom: -60%;
	    position: relative;
	    overflow: hidden;
	}

	.comment_slant:before {
	    content: '';
	    position: absolute;
	    top: -63%;
	    left: -19px;
	    width: 125%;
	    height: 100%;
	    background-color: #F8E0FF;
	    transform-origin: 100% 0%;
	    transform: rotate(13deg) skewX(13deg);
	    z-index: -1;
	}

	/*---- DOWNLOAD SECTION --------*/

	.download_zine a {
		text-decoration: none;
		border: 1px solid #30023C;
		background-color: #30023C;
		color: #fff;
		padding: 0.7em;
		margin: 1em 0;
		display: inline-block;
	}

	.download_slant {
	    width: 100%;
	    padding-bottom: 70.92%; /* must be width / 1.41 */
	    margin-bottom: -50%;
	    position: relative;
	    overflow: hidden;
	}

	.download_slant:before {
	    content: '';
	    position: absolute;
	    top: 29%;
	    left: -10%;
	    width: 125%;
	    height: 100%;
	    background-color: #30023C;
	    transform-origin: 100% 0%;
	    transform: rotate(6deg) skewX(0deg);
	    z-index: -1;
	}
	/*---- CONSENTFUL TECH IN ACTION SECTION --------*/

	.consentful_tech_in_action {
		background-color: #30023C;

	}

	.consentful_tech_in_action h2 {
		color: #FFF;
		margin-top:0;
	}
	.consentful_tech_in_action h3 {
		text-transform: uppercase;
		line-height: 1.25;
		max-width: 80%;
		margin: auto;
		padding: 0.5em;
	}

	.consentful_tech_in_action p {
		color: #000;
		max-width: 80%;
		margin: auto;
		padding: 0 0.5em 1.5em 0.5em;
	}

	.consentful_tech_in_action ul {
		padding-left:0;
		margin-top:0;
	}

	.consentful_tech_in_action li {
		background-color: #F8E0FF;
		color:#30023C;
		margin-top: 2em;
	}

	.consentful_tech_in_action li img {
		display: block;
		padding-top: 2.15em;
		margin: auto;
		max-width: 80%;
	}

	.pointy-bottom {
	    width: 100%;
	    padding-bottom: 70.92%; /* must be width / 1.41 */
	    position: relative;
	    overflow: hidden;
	    margin-bottom: -70.92%;
	    top:-2px;
	}

	.pointy-bottom:before {
	    content: '';
	    position: absolute;
	    top: 2px;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background-color: #30023C;
	    transform-origin: 100% 0%;
	    transform: rotate(45deg) skewX(-37deg);
	}

	/*------------- SUPPORT SECTION -------------------*/
	.support h2 {
		margin-bottom: 0;
		margin-top: 1.5em;
	}

	.support ul {
		padding-left:0;
	}

	.support li {
		padding-top: 0;
		margin: 1.3em;
	}
	.support li a{
		position: relative;
		display: inline-block;
	}

	.support li a h3 {
		position: absolute;
		margin: 0;
		top: 50%;
		left: 50%;
		transform:translate(-50%, -50%);
		text-align: center;
		font-size: 1.3em;
		line-height: 1.25em;
		color: #fff;
	}

	/*------- GET IN TOUCH SECTION --------------*/

	section.get_in_touch {
		padding-top: 0;
	}
	.get_in_touch h2 {
		margin:20px 0;
	}
}

@media only screen and (max-width: 530px) {
	header h2 {
		font-size: 1.9em;
		top: 34%;
	}

}

@media only screen and (max-width: 485px) {
	header h2 {
		font-size: 1.4em;
		top: 35%;
	}


}

@media only screen and (max-width: 433px) {
	.fries_slant::before {
		top: -95%;
		left: -32%;
		transform: rotate(-9deg) skewX(-3deg);

	}


}

@media only screen and (max-width: 398px) {

	header h2 {
		font-size: 1.15em;
	}


	.humburger {
		margin: 5px 30px;
	}
	/*-------- FRIES COMMENT SECTION ------------------*/
	.FRIES_comment {
		padding-top: 70px;
	}

	/*------------- SUPPORT SECTION -------------------*/
	.support li a h3 {
		font-size: 1.1em;
	}
	.support h2 {
		margin-top: 0.7em;
	}
	/*--------------- FOOTER SECTION --------------------*/

	.footer_imgs img {
		max-width: 40%;
	}
}

@media only screen and (max-width: 340px) {
	nav {
		grid-template-columns: max-content max-content;
	}

	.humburger {
		grid-column: 2;
	}

	.humburger_close {
		grid-column: 2;
	}

}
