
/* ---- TYPPGRAPHY -------*/
body {
	font-family: 'Work Sans', sans-serif;
	max-width: 100%;
	margin:0;
}

.container {
	width: 100%;
	/*max-width: 1066px;*/
	margin: 0 auto;
}

h1 {
	line-height: 1.5em;
	color: #472869;
	display: inline;
	font-size: 1em;
}

h2 {
	font-size: 3.125em;
	font-weight: bold;
	line-height: 3.125em;
	color: #472869;
	margin-left: 1em;
}

h3 {
	font-size: 1.875em;
	line-height: 2.25em;
	color: #472869;
}

h4 {
	color:#472869;
}

p {
	font-size: 1.25em;
	line-height: 1.625em;
	margin: 0 auto;
	width: 85%;
}

img {
	max-width: 100%;
}

li {
	list-style-type: none;
}

/*--- HEADER ---*/

header {
	position: relative;
	text-align: center;
	/*z-index: 2;*/
	max-width: 1066px;
	margin: 0 auto;
}

header h2{
	font-weight: 500;
	line-height: 1;
	text-align: left;
	margin: 0 0 0 4vw
}

header h2 .line {
	display: block;
}

/* .underline-purple, .underline-white, .modal_open h1 {
	display: inline-block;
	vertical-align: top;
    border-bottom: 10px solid #30023C;
    border-image-repeat: round;
    border-image-width: 0 0 10px 0;
    border-image-slice: 20;
} */

/* .underline-purple {
    border-image-source: url(img/underlines/Underline-Purple-Box.svg);

} */

/* .underline-white, .modal_open h1 {
    border-image-source: url(img/underlines/Underline-White-Box.svg);
} */

/* .modal_open h1 {
	border-image-slice: 10;
	padding-top: 10px;
    border-image-width: 0 0 7px 0;
} */

.header_mobile {
	display: none;
}

/*---- NAV SECTION (DESKTOP) -----*/

.nav_container {
	background-color: #F8E0FF;
}

nav {
	display: grid;
	grid-template-columns: max-content 1fr minmax(max-content, 10fr);
	align-items: center;
	padding: 0 10px;
	max-width: 1066px;
	margin: 0 auto;
}

nav ul {
	padding-left: 0;
	display: flex;
	justify-content: space-evenly;
	grid-column: 3;
}

nav li {
	display: inline;
	margin: 0 5px;
	font-weight: 500;
	font-size: 0.8em;
}

.nav li a {
	text-decoration: underline;
	color: #30023C;
}
.nav li a:hover {
	color: #CD6CE7;
}

.humburger,.humburger_close {
	display: none;
}

/*---- GOOD DEGITAL CONSENT (DESKTOP) -------*/

.good_digital_consent {
	position: relative;
	top: 50px;
	/*z-index: 2;*/
	margin-top: 30px;
	max-width: 1066px;
	margin: 0 auto;
	padding-left: 25px;
}

.good_digital_consent p {
	color: #30023C;
	margin-left: 4vw;
	margin-bottom: 30px;
	max-width: 750px;
}

.good_digital_consent p em {
	font-weight: bold;
	font-style: normal;
}

.ctp_goals {
	font-size: 1em;
}

.good_digital_consent_slant {
    width: 100%;
    padding-bottom: 70.92%; /* must be width / 1.41 */
    margin-bottom: -70%;
    position: relative;
    overflow: hidden;
    /*z-index: 0;*/
}

.good_digital_consent_slant:before {
	    content: '';
	    background-color: #fff;
	    height: 100%;
	    width: 125%;
	    position: absolute;
	    top: -71%;
	    transform-origin: 100% 0%;
	    transform: rotate(4deg) skewX(0deg);
	    z-index: 1;
	}

.good_digital_consent_slant_2 {
    	width: 100%;
	    top:-15px;
	    padding-bottom: 70.92%; /* must be width / 1.41 */
	    margin-bottom: -60%;
	    position: relative;
	    overflow: hidden;
	}

.good_digital_consent_slant_2:before {
	    content: '';
	    position: absolute;
	    width: 125%;
	    height: 100%;
	    top: 44%;
	    left: -24%;
	    background-color: #fff;
	    transform-origin: 100% 0%;
	    transform: rotate(90deg) skewX(-25deg);
	    z-index: 1;
	}


/*------ FRIES SECTION (DESKTOP) ------------*/

.fries {
	background-color: #30023C;
	padding-top: 10px;
	position: relative;
	/*z-index: -1;*/
}

.fries h2 {
	margin-bottom: 24px;
	margin-left: 0;
	margin-top: 2em;
	line-height: 0.5em;
	display: inline-block;
}

.fries .underline-white {
    /* border-image-outset: 0 0 24px 0; */
}


.fries p, .fries h2, .fries h3 {
	color: #fff;
}

.fries h3 {
	text-decoration: underline;
}

.fries_intro {
	width: 50%;
	margin: 1em 0;
	margin-bottom: 2em;
}

.fries_intro_wrapper {
	margin: 1em auto;
    max-width: 1066px;
    padding-left: 4vw;
    margin-left: 25px;
}

.fries ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-left: 4vw;
	margin-top: 1em;
	width: 100%;
	margin: 0 auto;
	position: relative;
	/*z-index: 3;*/
	max-width: 1066px;
	box-sizing: border-box;
}

.fries li {
	width: 30%;
	margin: 5px;
	margin-left: 25px;
}

.fries li p {
	margin: 0 auto;
	line-height: 1.25em;
	width: 100%;
}

.fries_img {
	width: 100%;
}

.comment_parent {
	position: relative;
}
.FRIES_comment {
	background: url(img/friesgraphics/trapezoid.svg);
    position: absolute;
    width: 400px;
    right: 30px;
    bottom: -110px;
    padding: 180px 0;
    z-index: 2;
    height: 380px;
    background-repeat: no-repeat;
}

/*.FRIES_comment_slanted_top {
	overflow: hidden;
}

.FRIES_comment_slanted_top::before {
	content: "";
	width: 115%;
	top: -15%;
	right: -5px;
	position: absolute;
	display: inline-block;
	height: 175px;
	background-color: #30023C;
	transform: rotate(-15deg) skewX(-12deg) ;
	color: #30023C;

}*/

/*.FRIES_comment_slanted_bottom {
	display: none;
	overflow: hidden;
}

.FRIES_comment_slanted_bottom::after {
	content: "";
	width: 115%;
	bottom: -15%;
	right: -5px;
	position: absolute;
	display: inline-block;
	height: 175px;
	background-color: #30023C;
	transform: rotate(15deg) skewX(12deg) ;
	color: #30023C;
	z-index: 0;
}*/

.comment_slant {
    width: 100%;
    padding-bottom: 70.92%; /* must be width / 1.41 */
    margin-bottom: -70.92%;
    position: relative;
    overflow: hidden;
    top: -2px;
}

.comment_slant:before {
    content: '';
    position: absolute;
    top: -29%;
    left: -50%;
    width: 100%;
    height: 43%;
    background-color: #30023C;
    transform-origin: 100% 0%;
    transform: rotate(-11deg) skewX(63deg);
    z-index: 1;
}

/*--------- DOWNLOAD ZINE SECTION (DESKTOP) -------------*/

.download_zine {
	max-width: 1066px;
	margin: 0 auto;
}

.download_zine h2 {
	line-height: 1em;
	display: block;
	margin: 0;
	margin-top: 50px;
}

.download_zine h2 span {
	/*display: inline-block;*/
}

/*.download_zine .underline-purple {
	border-image-slice: 20;
}*/

.underline-purple::after {
    background-image: url(img/underlines/Underlin-Purple.svg);
}
.underline-white::after {
    background-image: url(img/underlines/Underline-White.svg);
}
.underline-purple, .underline-white {
	display: inline-block;
}
.underline-purple::after, .underline-white::after {
    content: "";
    background-repeat: space;
    background-size: contain;
    height: 10px;
		display: block;
		padding: 0;
		width: 100%;
		margin-top: 0.25em;
}

.download_heading {
	padding-left: 4vw;
}

.download_heading p{
	margin: 0.5em 0;
}

.download_zine {
	padding-top: 20%;
	background: #fff;
	position: relative;
	padding-left: 25px;
	/*z-index: -3;*/
}

.download_zine img {
	max-width: 45%;
	margin-left: 1.5em;
}

.zine_explanation {
	display: inline-block;
	width: 45%;
	margin: 0 1em;
	vertical-align: top;
}

.zine_explanation h3 {
	line-height: 1;
}

.zine_explanation p {
	margin: 0;
}

.download_btn_wrapper {
	width: 100%;
	text-align: left;
}

.download_btn_wrapper a:hover {
	background: #CD6CE7;
	border: 1px solid #CD6CE7;
}

.download_btn_wrapper a {
	text-decoration: none;
	border: 1px solid #30023C;
	background-color: #30023C;
	color: #fff;
	padding: 0.7em;
	margin: 1em 0;
	display: inline-block;
	text-transform: uppercase;
}

.download_slant {
    width: 100%;
    padding-bottom: 70.92%;
    margin-bottom: -50%;
    position: relative;
    overflow: hidden;
}

.download_slant:before {
    content: '';
    position: absolute;
    top: 29%;
    left: -10%;
    width: 125%;
    height: 100%;
    background-color: #30023C;
    transform-origin: 100% 0%;
    transform: rotate(6deg) skewX(0deg);
    z-index: -1;
}

/* ------- CONSENTFUL TECH IN ACTION SECTION (DESKTOP) ------ */
.pointy-bottom {
    width: 100%;
    padding-bottom: 70.92%; /* must be width / 1.41 */
    position: relative;
    overflow: hidden;
    margin-bottom: -70.92%;
    top:-2px;
}

.pointy-bottom:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #30023C;
    transform-origin: 100% 0%;
    transform: rotate(45deg) skewX(-37deg);
}
.in_action_wrapper {
	background-color: #30023C;
}
.consentful_tech_in_action {
	padding-bottom: 10px;
	max-width: 1066px;
	margin: 0 auto;
}

.consentful_tech_in_action h2 {
	color: #FFF;
	margin-top:0;
	line-height: 1;
	display: inline-block;
	padding-left: 25px;
	margin-left: 4vw;
}

/*.consentful_tech_in_action .underline-white {
	border-image-slice: 20;
}*/

/*.consentful_tech_in_action h2::after {
    content: "";
    background-image: url(img/underlines/Underline-White.svg);
    background-repeat: repeat-x;
    background-size: contain;
    height: 10px;
	display: block;
	padding: 0;
	width:100%;
}*/
.consentful_tech_in_action h3 {
	text-transform: uppercase;
	line-height: 1.25;
	max-width: 80%;
	margin: auto;
	padding: 0.5em;
}

.consentful_tech_in_action p {
	color: #000;
	max-width: 80%;
	margin: auto;
	padding: 0 0.5em 1.5em 0.5em;
}

.consentful_tech_in_action ul {
	padding-left:0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 3%;
}

.consentful_tech_in_action li {
	background-color: #F8E0FF;
	color:#30023C;
	margin: 1%;
	width: 45%;
}

.consentful_tech_in_action li img {
	display: block;
	padding-top: 4.5%;
	margin: auto;
	max-width: 80%;
}

.consentful_tech_in_action a, .consentful_tech_in_action a:visited {
	color: #000;
}

.consentful_tech_in_action a:hover {
	color: #CD6CE7;
}

.pointy-bottom {
    width: 100%;
    padding-bottom: 70.92%; /* must be width / 1.41 */
    position: relative;
    overflow: hidden;
    margin-bottom: -70.92%;
    top:-2px;
}

.pointy-bottom:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #30023C;
    transform-origin: 100% 0%;
    transform: rotate(45deg) skewX(-37deg);
}

/*------- SUPPORT SECTION (DESKTOP) -----*/
	.support {
		padding-top: 20%;
		max-width: 1066px;
		margin: 0 auto;
		padding-left: 25px;
	}

	.support h2 {
		display: inline-block;
		line-height: 1;
		margin-left: 4vw;
		padding-left: 0;
	}

	/*.support h2::after {
	    content: "";
	    background-image: url(img/underlines/Underlin-Purple.svg);
	    background-repeat: repeat-x;
	    background-size: contain;
	    height: 10px;
		display: block;
		padding: 0;
		width:100%;
	}*/

	.support ul {
		padding-left:0;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-evenly;
	}

	.support ul li {
		width: 30%;
		position: relative;
		text-align: center;
		padding: 8em 0;
	}

	.support li a {
		display: inline-block;
		/*z-index: 100;*/

	}

	.donate {
		background-image: url(img/support/Shape1.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}

	.donate:hover {
		background-image: url(img/support/Shape1_hover.svg);

	}

	.bootcamp_survey {
		background-image: url(img/support/Shape2.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-image: contain;
	}

	.bootcamp_survey:hover {
		background-image: url(img/support/Shape2_hover.svg);
	}

	.purchase_zine {
		background-image: url(img/support/Shape3.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-image: contain;
	}

	.purchase_zine:hover {
		 background-image: url(img/support/Shape3_hover.svg);
	}
	.support ul li img {
		max-width: 100%;
	}

	.support li a h3 {
		position: absolute;
		margin: 0.5em;
		width: 30%;
		top: 50%;
		left: 50%;
		transform:translate(-50%, -50%);
		text-align: center;
		font-size: 1.35em;
		line-height: 1.25em;
		color: #fff;
	}


/*------ GET IN TOUCH SECTION (DESKTOP) -------*/

.get_in_touch {
	max-width: 1066px;
	margin: 50px auto;
}

.get_in_touch h2 {
	display: inline-block;
	line-height: 1;
	margin: 0;
	margin-bottom: 0.5em;
	margin-left: 4vw;
}

/*.get_in_touch h2::after {
    content: "";
    background-image: url(img/underlines/Underlin-Purple.svg);
    background-repeat: repeat-x;
    background-size: contain;
    height: 10px;
	display: block;
	padding: 0;
	width:100%;
}*/

.get_in_touch form input {
	background-color: #F8E0FF;
	padding: 10px;
	width: 50%;
	margin: 10px 0;
	border: solid 1px #777;
}

.get_in_touch form label {
	display: block;
	padding: 0.5em 0;
	color: #30023C;
}

.get_in_touch {
	overflow-x: hidden;
	position: relative;
	padding-left: 25px;
}

.form_wrapper {
	text-align: left;
}

.get_in_touch form {
	padding: 0 4vw;
}

.get_in_touch form textarea {
	width: 50%;
	height: 100px;
	padding: 10px;
	background-color: #F8E0FF;
	text-align: left;
	resize: none;
	border: solid 1px #777;
	margin: 10px 0;
}

.get_in_touch form .submit, .get_in_touch form .clear {
	background-color: #30023C;
	color: #fff;
	max-width: 150px;
	margin: 20px;
	margin-left: 0;
	text-transform: uppercase;
	border: none;
	padding: 20px;
}

.get_in_touch form .submit:hover{
	background-color: #CD6CE7;
}

.get_in_touch form .clear:hover{
	background-color: #CD6CE7;
}

.get_in_touch_form_footer {
	display: flex;
	align-items: center;
}

#fnContactCaptcha {
	margin: 15px 0;
	margin-left: 0;
	display: inline-block;
}

.get_in_touch .form_modal {
	position: absolute;
	background-color: #F8E0FF;
	top: 20px;
	padding-top:0;
	width: 70%;
	border: 1px solid #30023C;
	display: none;
}

.get_in_touch h4 {
	display: inline-block;
	margin-top: 0.7em;
	text-decoration: underline;
}

.get_in_touch h4:hover {
	color:#CD6CE7;
}


.form_modal_close {
	text-align: right;
}

/*---- FOOTER AREA ----*/

.footer_wrapper {
	background-color: #30023C;
}

footer {
	padding: 25px;
	margin: 0 auto;
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    grid-column-gap: 52px;
    max-width: 1066px;
    margin: 0 auto;
}

.footer_imgs {
	text-align: left;
	padding: 0px;
	display: inline-block;
}


.footer_imgs a {
	display: inline-block;
	vertical-align: middle;
}

.AATLogo {
	margin-left: 30px;
}

footer p {
	color: #fff;
	display: inline-block;
	width: 100%;
}

@media only screen and (max-width: 1200px) {

	.FRIES_comment {
		right: 0;
		width: 30%;
		height: auto;
		padding: 220px 0;
	}
}

@media only screen and (max-width: 1066px) {
	.FRIES_comment {
		padding: 160px 0 180px 0;
	}

	.consentful_tech_in_action li {
		margin: 1vw;
	}

}

@media only screen and (max-width: 1000px) {


	.support li a h3 {
		font-size: 1.2em;
		width: 50%;
	}

	.support ul li {
		padding: 6em 0;
		background-size: contain;
	}

	.donate, .bootcamp_survey, .purchase_zine {
		background-size: 75%
	}
}

@media only screen and (max-width: 925px) {
	.FRIES_comment {
		padding: 220px 0 50px 25px;
		position: static;
		width:100%;
		background: #CD6CE7;
		height: auto;
		font-size: 1.25em;
		box-sizing: border-box;
	}
	.FRIES_comment::before {
		display: none;
	}

	.FRIES_comment::after {
		display: none;
	}

	.fries_slant {
	    width: 100%;
	    top:-10px;
	    padding-bottom: 70.92%; /* must be width / 1.41 */
	    position: relative;
	    overflow: hidden;
	    margin-bottom: -70.92%;

	}

	.fries_slant:before {
	    content: '';
	    position: absolute;
	    top: -96%;
	    left: -33%;
	    width: 125%;
	    height: 100%;
	    background-color: #30023C;
	    transform-origin: 100% 0%;
	    transform: rotate(-10deg) skewX(-3deg);
	    /*z-index: 1;*/
	}

	.FRIES_comment {
		padding-top: 160px;
	}

	.FRIES_comment p {
		color: #30023C;
		margin-left: 4vw;
	}

/*	.FRIES_comment_slanted_bottom {
		display: inline-block;
	}*/

	.comment_slant {
	    width: 100%;
	    padding-bottom: 70.92%; /* must be width / 1.41 */
	    margin-bottom: -60%;
	    position: relative;
	    overflow: hidden;
	}

	.comment_slant:before {
	    content: '';
	    position: absolute;
	    top: -63%;
	    left: -19px;
	    width: 125%;
	    height: 100%;
	    background-color: #CD6CE7;
	    transform-origin: 100% 0%;
	    transform: rotate(13deg) skewX(13deg);
	    /*z-index: 3;*/
	}

}

@media only screen and (max-width: 900px){

	main {
		position: relative;
		top: -2em;
	}

	nav {
		font-size: 0.9em
	}


	.donate, .bootcamp_survey, .purchase_zine {
		background-size: 70%
	}

}


@media only screen and (max-width: 800px) {

	nav {
		/*font-size: 0.8em;*/
	}

	.fries h2 {
		font-size: 2.5em;
	}

	.support li a h3 {
		font-size: 1em;
	}

	.fries li {
	 	width: 45%;
	}

	.support ul li {
		padding: 4.5em 0;
	}
}



@media only screen and (max-width: 700px) {
	nav {
		/*font-size: 0.7em;*/
	}



	.FRIES_comment p {
		font-size: 0.8em;
	}
}


@media only screen and (max-width: 650px) {
	html {
	    overflow-x: hidden;
	}

	section {
		padding: 1em 25px;
	}

	.hide {
		display: none;
	}

	.show {
		display: block;
	}

	/*ul.nav */
	.modal_close .nav {
		display: grid;
		padding-left:0;
		padding: 0 0.2em;
		margin:0;
		grid-column-start: 1;
		grid-column-end: 4;
		grid-template-columns: 100%;
		grid-template-rows: 25% 25% 25% 25%;
		display: none;
	}

	/* add to ul.nav when humburger click */
	.modal_open .nav {
		display: block;
		width: 100%;
		padding: 10px;
		padding-top: 0px;
		left: -10px;
    	position: relative;
		margin: 0px;
		grid-column-start: 1;
		grid-column-end: 4;
		/*grid-template-columns: 100%;*/
		/*grid-template-rows: 20% 20% 20% 20% 20%;*/
		/*z-index: 10;*/
		background-color: #30023C;


	}

	.fries {
		padding: 0;
	}

	.header_desktop {
		display: none;
	}

	.header_mobile {
		display: block;
		width: 100%;
		max-width: none;
	}


	nav {
		display: grid;
		grid-template-columns:  max-content 1fr max-content;
		grid-template-rows: 100% ;
		background-color: #30023C;
		color: #fff;
		height: 50px;
		z-index: 1;
		position: relative;
		align-items: center;
	}

	.nav li a {
	text-decoration: none;
	color:#fff;
	}

	/* add to nav when humburger click */
	.nav_open {
		display: grid;
		grid-template-columns:  1fr 1fr 1fr auto 1fr 1fr 1fr ;
		background-color: #30023C;
		color: #fff;
	}



/*	.title_underline::after {
		height: 8px;
		display: inline-block;
		padding: 0;
	    width:100%;
	}

	.modal_open .title_underline::after {
		content:"";
		height:8px;
		background-image: url(img/underlines/Underline-White.svg);
		background-repeat: repeat-x;
		background-size: contain;
	}*/

	main {
		position: relative;
		/*z-index: 2;*/
	}

	h1 {
		font-size: 1em;
		line-height: 1;
		margin: 0 0 0 10px;
		color: #fff;
		grid-column-start: 1;
		background-color: #30023C;
		display: inline-block;
	}

	h2 {
		font-size: 2.9em;
		line-height: 1;
		font-weight: bold;
	}

	p {
		font-size: 1em;
		color: #30023C;
		line-height: 1.2em;
	}



	nav li {
		font-size: 1.1em;
		font-weight: normal;
		padding: 1em 0;
		display: block;
		margin-left: 10px;
	}

	/* humberger menu */

	.humburger {
		margin: 5px 20px;
		padding: 0.1em;
		grid-column: 3;
		grid-row-start: 1;
		grid-row-end: 2;
		display: block;
	}

	.humburger div {
		background-color: #fff;
		margin: 1px 0;
	}

	.humburger_close {
		grid-column-start: 3;
		display: none;
		padding: 0.1em;
		margin: 5px 20px;
	}

	header h2 {
		position: absolute;
		top: 40%;
		text-transform: capitalize;
		max-width: 250px;
	}

	/* header .underline-purple {
		border-image-slice: 17;
		line-height: 2.5rem;
	} */


	/*------ GOOD DIGITAL CONSENT SECTION 600px -------*/


	.good_digital_consent p {
		font-size: 1.25em;
	}

	.good_digital_consent .ctp_goals {
		font-size: 1em;
	}

	.good_digital_consent_slant {
	    width: 100%;
	    padding-bottom: 70.92%; /* must be width / 1.41 */
	    margin-bottom: -70%;
	    position: relative;
	    overflow: hidden;
	}

	.good_digital_consent_slant:before {
	    top: -65%;
	    left: -25%;
	}

	.good_digital_consent_slant_2 {
	    width: 100%;
	    top:-8px;
	    padding-bottom: 70.92%; /* must be width / 1.41 */
	    margin-bottom: -60%;
	    position: relative;
	    overflow: hidden;
	}

	.good_digital_consent_slant_2:before {
	    content: '';
	    position: absolute;
	    width: 125%;
	    height: 100%;
	    top: 44%;
	    left: -24%;
	    background-color: #fff;
	    transform-origin: 100% 0%;
	    transform: rotate(90deg) skewX(-25deg);
	}

	/*------ FRIES SECTION 600px -------*/

	.fries{
		background-color: #30023C;
	}

	.fries h2 {
		max-width: 380px;
		font-size: 2.5em;
		line-height: 1;
		margin-top: 1.75em;
	}

	.fries .underline-white {
		/* line-height: 1;
		border-image-slice: 18;
		border-image-outset: 0 0 2px 0; */
	}

	.fries h3 {
		text-decoration: underline;
		color: #fff;
		font-size: 1.75em;
		margin: 15px 0;
	}

	.fries ul {
		display: block;
	}

	.fries li {
		width: 90%;
	}


	.fries_img{
		display: block;
		margin: 0 auto;
		height: 35%;
		vertical-align: middle;
	}


	/*---- DOWNLOAD SECTION 600px --------*/

	.download_heading {
		padding-left: 4vw;
	}

	.download_slant {
	    width: 100%;
	    padding-bottom: 70.92%; /* must be width / 1.41 */
	    margin-bottom: -50%;
	    position: relative;
	    overflow: hidden;
	}

	.download_slant:before {
	    content: '';
	    position: absolute;
	    top: 29%;
	    left: -10%;
	    width: 125%;
	    height: 100%;
	    background-color: #30023C;
	    transform-origin: 100% 0%;
	    transform: rotate(6deg) skewX(0deg);
	    /*z-index: -1;*/
	}

	.download_zine img {
		max-width: 100%;
	}

	.zine_explanation {
		width: 100%;
		margin: 0;
		padding-left: 4vw;
	}
	/*---- CONSENTFUL TECH IN ACTION SECTION 600px --------*/
	.support h2, .consentful_tech_in_action h2 {
		font-size: 2.9em;
	}
	.consentful_tech_in_action {
		background-color: #30023C;
		padding: 1em 10px;
	}

	.consentful_tech_in_action h2 {
		color: #FFF;
		margin-top:0;
	}

	.consentful_tech_in_action h2::after {
		display: none;
	}

	.consentful_tech_in_action h3 {
		text-transform: uppercase;
		line-height: 1.25;
		max-width: 80%;
		margin: auto;
		padding: 0.5em;
		font-size: 1.5em;
	}

	.consentful_tech_in_action p {
		color: #000;
		max-width: 80%;
		margin: auto;
		padding: 0 0.5em 1.5em 0.5em;
	}

	.consentful_tech_in_action ul {
		padding-left:0;
		margin-top:0;
	}

	.consentful_tech_in_action li {
		background-color: #F8E0FF;
		color:#30023C;
		margin: 1em 1vw;
		width: 100%;
	}

	.consentful_tech_in_action li img {
		display: block;
		padding-top: 2.15em;
		margin: auto;
		max-width: 80%;
	}

	.pointy-bottom {
	    width: 100%;
	    padding-bottom: 70.92%; /* must be width / 1.41 */
	    position: relative;
	    overflow: hidden;
	    margin-bottom: -70.92%;
	    top:-2px;
	}

	.pointy-bottom:before {
	    content: '';
	    position: absolute;
	    top: 2px;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background-color: #30023C;
	    transform-origin: 100% 0%;
	    transform: rotate(45deg) skewX(-37deg);
	}

	/*------------- SUPPORT SECTION 600px -------------------*/
	.support h2 {
		margin-bottom: 0;
		margin-top: 1.5em;
		padding-left: 0;
	}

	.support h2::after {
		display: none;
	}

	.support ul {
		padding-left:0;
		display: block;
		text-align: center;
	}

	.support ul li {
		padding:7em 0;
		margin: 1em 0;
		width: 100%;
	}
	.support li a{
		/*position: relative;*/
		display: inline-block;
	}

	.support li a h3 {
		position: absolute;
		margin: 0;
		top: 50%;
		left: 50%;
		transform:translate(-50%, -50%);
		text-align: center;
		font-size: 1.3em;
		line-height: 1.25;
		color: #fff;
		width: 30%;
	}

	/*------- GET IN TOUCH SECTION 600px --------------*/

	.get_in_touch {
		padding-top: 0;
	}
	.get_in_touch_section_wrapper {
		padding-left: 4vw;
	}
	.get_in_touch h2 {
		margin:20px 0;
		padding-left: 0;
	}
	.get_in_touch h2::after {
		display: none;
	}

	.get_in_touch form {
		max-width: 90%;
		padding: 0;
	}

	.get_in_touch form input, .get_in_touch form textarea {
		border-width: 2px;
		width: 90%;
	}

	.get_in_touch_form_footer {
		display: block;
	}

	.get_in_touch_form_footer h4 {
		text-decoration: none;
	}

	.get_in_touch form .submit, .get_in_touch form .clear {
		max-width: 125px;
	}

	footer {
		display: block;
		padding: 75px;
	}

	footer p {
		padding-top: 50px;
	}
}

@media only screen and (max-width: 530px) {
	header h2 {

	}

}

@media only screen and (max-width: 485px) {

	header h2 {
	  font-size: 2.5em;
	}

	header .underline-purple {
		/*border-image-slice: 20;*/
	}

	.consentful_tech_in_action li {
		margin: 0.75em 1vw;
	}

	.support h2 {
		/*font-size: 2.2em;*/
	}

	.support .underline-purple {
		/*border-image-slice: 16;*/
	}

	.footer_imgs a {
		width: 47.5%;
	}

	.AATLogo {
		margin-left: 5%;
	}

}

@media only screen and (max-width: 433px) {
	.fries_slant::before {
		top: -95%;
		left: -32%;
		transform: rotate(-9deg) skewX(-3deg);
	}

	.FRIES_comment {
		padding-top: 100px;
	}

	.download_zine .underline-purple {
		/*font-size: 0.8em;*/
	}

	.consentful_tech_in_action h2 {
		/*font-size: 2em;*/
	}

	.consentful_tech_in_action .underline-white {
		/*border-image-slice: 15;*/
	}

}

@media only screen and (max-width: 398px) {

	header h2 {
	  font-size: 2em;
	}

	header .underline-purple {
		/* border-image-slice: 18; */
	}

	h2 {
		margin: 0.5em 0;
		line-height: 1;
	}

	/*------------- SUPPORT SECTION 398px -------------------*/
	.support li a h3 {
		font-size: 1.1em;
	}
	.support h2 {
		margin-top: 0.7em;
	}

	.support h2 {
		/*font-size: 1.8em;*/
	}

	.support .underline-purple {
		/*border-image-slice: 14;*/
	}

	.get_in_touch .underline-purple {
		/*font-size: 2.5em;*/
		/*border-image-slice: 18;	*/
	}

}

@media only screen and (max-width: 340px) {

	.download_zine .underline-purple {
		/*font-size: 0.6em;*/
	}

	.support li a h3 {
		font-size: 1em;
	}

}



