
/* ---- TYPPGRAPHY -------*/

body {
	font-family: 'Work Sans', sans-serif;
	max-width: 100%;
	margin:0;
}

h1 {
	font-size: 1.5em;
	line-height: 1.5em;
	font-weight: semi-bold;
	color: #472869;
	display: inline;
	margin-left: 1em;
}

h2 {
	font-size: 3.125em;
	font-weight: bold;
	line-height: 3.125em;
	color: #472869;
	margin-left: 1em;
}

h3 {
	font-size: 1.875em;
	line-height: 2.25em;
	color: #472869;
}

h4 {
	color:#472869;
}

p {
	font-size: 1.25em;
	line-height: 1.625em;
	margin: 0 auto;
	padding: 0.5em 0;
	width: 85%;
}

img {
	max-width: 100%;
}

li {
	list-style-type: none;
}

/*--- HEADER ---*/

header {
	position: relative;
	background-color: #F8E0FF;
	text-align: center;
}

header h2{
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -55%);
	line-height: 1em;
	max-width: 460px;
	font-size: 3.5em;
	margin: 0;

}

/*---- NAV SECTION (DESKTOP) -----*/

nav {
	display: grid;
	background-color: #F8E0FF;
}

nav ul {
	padding-left: 0;
}

nav li {
	display: inline;
}

.nav li a {
	text-decoration: underline;
	color: #30023C;

}

.humburger,.humburger_close {
	display: none;
}


/*---- GOOD DEGITAL CONSENT (DESKTOP) -------*/

.good_digital_consent {
		background-color: #F8E0FF;
}

.good_digital_consent p:first-child {
	margin-top:0;
}

.good_digital_consent p:nth-child(2) {
	font-weight: bold;
}

.good_digital_consent_slant {
	    width: 100%;
	    padding-bottom: 70.92%; /* must be width / 1.41 */
	    margin-bottom: -70%;
	    position: relative;
	    overflow: hidden;
	}

.good_digital_consent_slant:before {
	    content: '';
	    background-color: #F8E0FF;
	    height: 100%;
	    width: 125%;
	    position: absolute;
	    top: -68%;
	    transform-origin: 100% 0%;
	    transform: rotate(4deg) skewX(0deg);
	}

.good_digital_consent_slant_2 {
    	width: 100%;
	    top:-15px;
	    padding-bottom: 70.92%; /* must be width / 1.41 */
	    margin-bottom: -60%;
	    position: relative;
	    overflow: hidden;
	}

.good_digital_consent_slant_2:before {
	    content: '';
	    position: absolute;
	    width: 125%;
	    height: 100%;
	    top: 44%;
	    left: -24%;
	    background-color: #F8E0FF;
	    transform-origin: 100% 0%;
	    transform: rotate(90deg) skewX(-25deg);
	}


/*------ FRIES SECTION (DESKTOP) ------------*/

.fries {
	background-color: #30023C;
	padding-top: 10px;

}

.fries h2 {
	margin-bottom: 0;
	margin-top: 2em;
	line-height: 1em;
	display: inline-block;
}

.fries h2::after {
    content: "";
    background-image: url(img/underlines/Underline-White.svg);
    background-repeat: repeat-x;
    background-size: contain;
    height: 10px;
	display: inline-block;
	padding: 0;
	width:90%;
}


.fries p, .fries h2, .fries h3 {
	color: #fff;
}

.fries h3 {
	text-decoration: underline;
}

.fries_intro {
	width: 50%;
	margin: 1em 3em;
	margin-bottom: 2em;
}

.fries ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-left:0;
	margin-top: 1em;
	width: 90%;
	margin: auto;
}

.fries li {
	width: 32%;
	margin: 0.5em 0.3em;

}

.fries li p {
	margin: 0 auto;
	line-height: 1.25em;
	width: 100%;
}

.fries_img {
	display: inline-block;
	width: 100%;
	height: 33%;
}

.comment_parent {
	position: relative;
}
.FRIES_comment {
	background-color: #F8E0FF;
	color:#30023C;
	position: absolute;
	width: 30%;
	right: 0;
	top: -450px;
	padding: 3em 0;
}

.FRIES_comment::before {
	content:"";
	width: 102.2%;
	top: -100px;
	right:-1%;
	position: absolute;
	display: inline-block;
	height: 160px;
	background-color: #F8E0FF;
	transform: rotate(-12deg) skewX(-12deg) ;
	color:#30023C;

}

.FRIES_comment p {
    padding: 100px 0;
}

.FRIES_comment::after {
	content:"";
	width: 102%;
	bottom: -100px;
	right:-1%;
	position: absolute;
	display: inline-block;
	height: 160px;
	background-color: #F8E0FF;
	transform: rotate(12deg) skewX(12deg) ;
	color:#30023C;

}

.comment_slant {
    width: 100%;
    padding-bottom: 70.92%; /* must be width / 1.41 */
    margin-bottom: -70.92%;
    position: relative;
    overflow: hidden;
    top: -2px;
}

.comment_slant:before {
    content: '';
    position: absolute;
    top: -36%;
    left: -50%;
    width: 100%;
    height: 43%;
    background-color: #30023C;
    transform-origin: 100% 0%;
    transform: rotate(-11deg) skewX(63deg);
    z-index: -1;
}

/*--------- DOWNLOAD ZINE SECTION (DESKTOP) -------------*/

.download_zine h2 {
	line-height: 1.5em;
	display: block;
}
.download_zine h2::after {
    content: "";
    background-image: url(img/underlines/Underlin-Purple.svg);
    background-repeat: repeat-x;
    background-size: contain;
    height: 10px;
	display: block;
	padding: 0;
	width:22%;
}

.download_zine {
	padding-top: 20%;
}

.download_zine img {
	max-width: 50%;
}

.zine_explanation {
	display: inline-block;
	width: 45%;
}

.download_btn_wrapper {
	width: 100%;
	text-align: center;
}

.download_btn_wrapper a {
	text-decoration: none;
	border: 1px solid #30023C;
	background-color: #30023C;
	color: #fff;
	padding: 0.7em;
	margin: 1em 0;
	display: inline-block;
	text-transform: uppercase;
}

.download_slant {
    width: 100%;
    padding-bottom: 70.92%;
    margin-bottom: -50%;
    position: relative;
    overflow: hidden;
}

.download_slant:before {
    content: '';
    position: absolute;
    top: 29%;
    left: -10%;
    width: 125%;
    height: 100%;
    background-color: #30023C;
    transform-origin: 100% 0%;
    transform: rotate(6deg) skewX(0deg);
    z-index: -1;
}

/* ------- CONSENTFUL TECH IN ACTON SECTION (DESKTOP) ------ */
.pointy-bottom {
    width: 100%;
    padding-bottom: 70.92%; /* must be width / 1.41 */
    position: relative;
    overflow: hidden;
    margin-bottom: -70.92%;
    top:-2px;
}

.pointy-bottom:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #30023C;
    transform-origin: 100% 0%;
    transform: rotate(45deg) skewX(-37deg);
}

.consentful_tech_in_action {
	background-color: #30023C;
	padding-bottom: 10px;

}

.consentful_tech_in_action h2 {
	color: #FFF;
	margin-top:0;
	line-height: 1.5em;
	display: inline-block;
}

.consentful_tech_in_action h2::after {
    content: "";
    background-image: url(img/underlines/Underline-White.svg);
    background-repeat: repeat-x;
    background-size: contain;
    height: 10px;
	display: block;
	padding: 0;
	width:100%;
}
.consentful_tech_in_action h3 {
	text-transform: uppercase;
	line-height: 1.25;
	max-width: 80%;
	margin: auto;
	padding: 0.5em;
}

.consentful_tech_in_action p {
	color: #000;
	max-width: 80%;
	margin: auto;
	padding: 0 0.5em 1.5em 0.5em;
}

.consentful_tech_in_action ul {
	padding-left:0;
	margin-top:0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.consentful_tech_in_action li {
	background-color: #F8E0FF;
	color:#30023C;
	margin: 1em;
	width: 45%;
}

.consentful_tech_in_action li img {
	display: block;
	padding-top: 2.15em;
	margin: auto;
	max-width: 80%;
}

.pointy-bottom {
    width: 100%;
    padding-bottom: 70.92%; /* must be width / 1.41 */
    position: relative;
    overflow: hidden;
    margin-bottom: -70.92%;
    top:-2px;
}

.pointy-bottom:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #30023C;
    transform-origin: 100% 0%;
    transform: rotate(45deg) skewX(-37deg);
}

/*------- SUPPORT SECTION (DESKTOP) -----*/
	.support {
		padding-top: 20%;
	}

	.support h2 {
		display: inline-block;
		line-height: 1.5em;
	}

	.support h2::after {
	    content: "";
	    background-image: url(img/underlines/Underlin-Purple.svg);
	    background-repeat: repeat-x;
	    background-size: contain;
	    height: 10px;
		display: block;
		padding: 0;
		width:100%;
	}

	.support ul {
		padding-left:0;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-evenly;
	}

	.support ul li {
		width: 30%;
		position: relative;
		text-align: center;
	}
	
	.support li a {
		position: relative;
		display: inline-block;
	}

	.support ul li img {
		max-width: 100%;
	}
	.support li a h3 {
		position: absolute;
		margin: 0;
		top: 50%;
		left: 50%;
		transform:translate(-50%, -50%);
		text-align: center;
		font-size: 1.5em;
		line-height: 1.25em;
		color: #fff;
	}


/*------ GET IN TOUCH SECTION (DESKTOP) -------*/

.get_in_touch h2 {
	display: inline-block;
	line-height: 1.7em;
}

.get_in_touch h2::after {
    content: "";
    background-image: url(img/underlines/Underlin-Purple.svg);
    background-repeat: repeat-x;
    background-size: contain;
    height: 10px;
	display: block;
	padding: 0;
	width:100%;
}

.get_in_touch form input {
	background-color: #F8E0FF;
	padding: 10px;
	width: 80%;
	margin: 10px 0;
	border: solid 2px #777;

}

.get_in_touch {
	overflow-x: hidden;
	padding: 1em;
	position: relative;
}

.form_wrapper {
	text-align: left;

}

.get_in_touch form {
	width: 100vw;
	margin: 0 auto;
}

.get_in_touch form textarea {
	width: 80%;
	height: 100px;
	padding: 10px;
	background-color: #F8E0FF;
	text-align: left;
	resize: none;
	border: solid 2px #777;
}

.get_in_touch form .submit, .get_in_touch form .clear {
	background-color: #30023C;
	color: #fff;
	width: 15%;
	margin: 20px;
	margin-left: 0;
	text-transform: uppercase;
	border: none;
	padding: 20px;
}

#fnContactCaptcha {
	margin: 15px 0;
	margin-left: 0;
	display: inline-block;
}

.get_in_touch .form_modal {
	position: absolute;
	background-color: #F8E0FF;
	top: 20px;
	padding-top:0;
	width: 70%;
	border: 1px solid #30023C;
	display: none;
}

.get_in_touch h4 {
	display: inline-block;
	margin-top: 0.7em;
	text-decoration: underline;
}


.form_modal_close {
	text-align: right;
}

/*---- FOOTER AREA ----*/

footer {
	background-color: #30023C;
	padding: 25px;
	margin: 0 auto;

}

.footer_imgs {
	width: 80%;
	text-align: left;
	padding: 0px;
	display: inline-block;
}


footer_imgs a {
	display: inline;
}

.AATLogo {
	margin-left: 30px;
}

footer p {
	color: #fff;
	width: 70%;
	padding: 30px 20px 0 20px;
	display: inline-block;
}
@media only screen and (max-width: 1000px) {

	.support li a h3 {
		font-size: 1.2em;
	}

}


@media only screen and (max-width: 800px) {

	header h2 {
		font-size: 3em;
		max-width: 390px;
	}

	.support li a h3 {
		font-size: 1em;
	}

	.FRIES_comment::after, 
	.FRIES_comment::before {
		height: 125px;
	}

	.FRIES_comment {
		padding: 40px 0;
	}

	.FRIES_comment p {
   		padding: 0;
	}
	 .fries li {
	 	width: 45%;
	 }


}

@media only screen and (max-width: 650px) {
	html {
	    overflow-x: hidden;
	}

	section {
		padding: 1em 2em;
	}

	header h2 {
		text-decoration: none;
		font-size: 2em;
		max-width: 260px;
	}

	nav {
		display: grid;
		grid-template-columns:  max-content 1fr max-content;
		grid-template-rows: 100% ;
		background-color: #30023C;
		color: #fff;
		height: 50px;
		z-index: 10;
		position: relative;
		align-items: center;
	}

	.nav li a {
	text-decoration: none;
	color:#fff;
	}

	/* add to nav when humburger click */
	.nav_open {
		display: grid;
		grid-template-columns:  1fr 1fr 1fr auto 1fr 1fr 1fr ;
		background-color: #30023C;
		color: #fff;
	}

	.title_underline::after {
		height: 8px;
		display: inline-block;
		padding: 0;
	    width:100%;
	}

	.modal_open .title_underline::after {
		content:"";
		/*height:8px;*/
		background-image: url(img/underlines/Underline-White.svg);
		background-repeat: repeat-x;
		background-size: contain;
	}

	main {
		position: relative;
		z-index: 2;
	}

	h1 {
		font-size: 1em;
		line-height: 1em;
		margin: 0 0 0 1em;
		color: #fff;
		grid-column-start: 1;
		background-color: #30023C;
		display: inline-block;	
	}

	h2{
		font-size: 3.125em;
		line-height: 1.25em;
		text-decoration: underline;	
		font-weight: bold;
	}
	
	p {
		font-size: 1em;
		color: #30023C;
		line-height: 1.45em;
	}

	/*ul.nav */
	.modal_close .nav {
		display: grid;
		padding-left:0;
		padding: 0 0.2em;
		margin:0;
		grid-column-start: 1;
		grid-column-end: 4;
		grid-template-columns: 100%;
		grid-template-rows: 25% 25% 25% 25%;
		display: none;
	}

	/* add to ul.nav when humburger click */
	.modal_open .nav {
		display: grid;	
		padding: 0 1em;
		margin:0px;
		grid-column-start: 1;
		grid-column-end: 7;
		grid-template-columns: 100%;
		grid-template-rows: 20% 20% 20% 20% 20%;
		z-index: 10;
		background-color: #30023C;


	}

	nav li {
		font-size: 1em;
		padding: 1em 0;
	}

	/* humberger menu */

	.humburger {
		margin: 5px 20px;
		padding: 0.1em;
		grid-column: 3;
		grid-row-start: 1;
		grid-row-end: 2;
		display: block;
	}

	.humburger div {
		background-color: #fff;
		margin: 1px 0;
	}

	.humburger_close {
		grid-column-start: 3;
		display: none;
		padding: 0.1em;
		margin: 5px 20px;
	}


	/*------ GOOD DIGITAL CONSENT SECTION 600px -------*/
	


	.good_digital_consent_slant {
	    width: 100%;
	    padding-bottom: 70.92%; /* must be width / 1.41 */
	    margin-bottom: -70%;
	    position: relative;
	    overflow: hidden;
	}

	.good_digital_consent_slant:before {
	    top: -73%;
	    left: -25%;
	}

	.good_digital_consent_slant_2 {
	    width: 100%;
	    top:-8px;
	    padding-bottom: 70.92%; /* must be width / 1.41 */
	    margin-bottom: -60%;
	    position: relative;
	    overflow: hidden;
	}

	.good_digital_consent_slant_2:before {
	    content: '';
	    position: absolute;
	    width: 125%;
	    height: 100%;
	    top: 44%;
	    left: -24%;
	    background-color: #F8E0FF;
	    transform-origin: 100% 0%;
	    transform: rotate(90deg) skewX(-25deg);
	}

	/*------ FRIES SECTION 600px -------*/

	.fries{
		background-color: #30023C;
	}

	.fries h2 {
		max-width: 380px;
		font-size: 2.5em;
	}

	.fries h2::after {
		display: none;
	}

	.fries h3 {
		text-decoration: underline;
		color: #fff;
		font-size: 1.75em;
		margin: 15px 0;
	}

	.fries p, .fries h2 {
		color: #fff;
	}

	.fries ul {
		display: block;
		padding:0;
		margin: 1em;
	}

	.fries li {
		width: 90%;
		margin: 0.5em;
	}


	.fries_img{
		display: block;
		margin: 0 auto;
		height: 35%;
		vertical-align: middle;
	}

	.FRIES_comment {
		padding: 110px 0 0 0;
		position: static;
		width:100%;
	}
	.FRIES_comment::before {
		display: none;
	}

	.FRIES_comment::after {
		display: none;
	}

	.FRIES_comment p {
		padding-top: 1em;
	}
	.fries_slant {
	    width: 100%;
	    top:-10px;
	    padding-bottom: 70.92%; /* must be width / 1.41 */
	    position: relative;
	    overflow: hidden;
	    margin-bottom: -70.92%;

	}

	.fries_slant:before {
	    content: '';
	    position: absolute;
	    top: -96%;
	    left: -33%;
	    width: 125%;
	    height: 100%;
	    background-color: #30023C;
	    transform-origin: 100% 0%;
	    transform: rotate(-10deg) skewX(-3deg);
	    z-index: 1;
	}

	.comment_slant {
	    width: 100%;
	    padding-bottom: 70.92%; /* must be width / 1.41 */
	    margin-bottom: -60%;
	    position: relative;
	    overflow: hidden;
	}

	.comment_slant:before {
	    content: '';
	    position: absolute;
	    top: -63%;
	    left: -19px;
	    width: 125%;
	    height: 100%;
	    background-color: #F8E0FF;
	    transform-origin: 100% 0%;
	    transform: rotate(13deg) skewX(13deg);
	    z-index: -1;
	}

	/*---- DOWNLOAD SECTION 600px --------*/


	.download_slant {
	    width: 100%;
	    padding-bottom: 70.92%; /* must be width / 1.41 */
	    margin-bottom: -50%;
	    position: relative;
	    overflow: hidden;
	}

	.download_slant:before {
	    content: '';
	    position: absolute;
	    top: 29%;
	    left: -10%;
	    width: 125%;
	    height: 100%;
	    background-color: #30023C;
	    transform-origin: 100% 0%;
	    transform: rotate(6deg) skewX(0deg);
	    z-index: -1;
	}
	
	.download_zine h2::after {
		display: none;
	}
	.download_zine img {
	max-width: 100%;
	}

	.zine_explanation {
		width: 100%;
	}
	/*---- CONSENTFUL TECH IN ACTION SECTION 600px --------*/

	.consentful_tech_in_action {
		background-color: #30023C;

	}

	.consentful_tech_in_action h2 {
		color: #FFF;
		margin-top:0;
	}

	.consentful_tech_in_action h2::after {
		display: none;
	}

	.consentful_tech_in_action h3 {
		text-transform: uppercase;
		line-height: 1.25;
		max-width: 80%;
		margin: auto;
		padding: 0.5em;
	}

	.consentful_tech_in_action p {
		color: #000;
		max-width: 80%;
		margin: auto;
		padding: 0 0.5em 1.5em 0.5em;
	}

	.consentful_tech_in_action ul {
		padding-left:0;
		margin-top:0;
	}

	.consentful_tech_in_action li {
		background-color: #F8E0FF;
		color:#30023C;
		margin-top: 2em;
		width: 100%;
	}

	.consentful_tech_in_action li img {
		display: block;
		padding-top: 2.15em;
		margin: auto;
		max-width: 80%;
	}

	.pointy-bottom {
	    width: 100%;
	    padding-bottom: 70.92%; /* must be width / 1.41 */
	    position: relative;
	    overflow: hidden;
	    margin-bottom: -70.92%;
	    top:-2px;
	}

	.pointy-bottom:before {
	    content: '';
	    position: absolute;
	    top: 2px;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background-color: #30023C;
	    transform-origin: 100% 0%;
	    transform: rotate(45deg) skewX(-37deg);
	}

	/*------------- SUPPORT SECTION 600px -------------------*/
	.support h2 {
		margin-bottom: 0;
		margin-top: 1.5em;
	}

	.support h2::after {
		display: none;
	}

	.support ul {
		padding-left:0;
		display: block;
		text-align: center;
	}

	.support ul li {
		padding-top: 0;
		margin: 1.3em 0;
		width: 100%;
	}
	.support li a{
		position: relative;
		display: inline-block;
	}

	.support li a h3 {
		position: absolute;
		margin: 0;
		top: 50%;
		left: 50%;
		transform:translate(-50%, -50%);
		text-align: center;
		font-size: 1.3em;
		line-height: 1.25em;
		color: #fff;
	}

	/*------- GET IN TOUCH SECTION 600px --------------*/

	section.get_in_touch {
		padding-top: 0;
	}
	.get_in_touch h2 {
		margin:20px 0;
	}
	.get_in_touch h2::after {
		display: none;
	}
}

@media only screen and (max-width: 530px) {
	header h2 {
		font-size: 1.9em;
		max-width: 250px;
	}

	.FRIES_comment p {
		padding-top: 0;
	}

}

@media only screen and (max-width: 485px) {
	header h2 {
		font-size: 1.4em;
		max-width: 180px;
	}


}

@media only screen and (max-width: 433px) {
	.fries_slant::before {
		top: -95%;
		left: -32%;
		transform: rotate(-9deg) skewX(-3deg);

	}


}

@media only screen and (max-width: 398px) {

	header h2 {
		font-size: 1.15em;
		max-width: 150px;
	}


	.humburger {
		margin: 5px 30px;
	}
	/*-------- FRIES COMMENT SECTION 398px ------------------*/
	.FRIES_comment {
		padding-top: 70px;
	}

	/*------------- SUPPORT SECTION 398px -------------------*/
	.support li a h3 {
		font-size: 1.1em;
	}
	.support h2 {
		margin-top: 0.7em;
	}
	/*--------------- FOOTER SECTION 398px --------------------*/

	.footer_imgs img {
		max-width: 40%;
	}
}

@media only screen and (max-width: 340px) {
	nav {
		grid-template-columns: max-content max-content;
	}

	.humburger {
		grid-column: 2;
	}

	.humburger_close {
		grid-column: 2;
	}

	.support li a h3 {
		font-size: 1em;
	}

}



